<ion-view view-title="About">
    <ion-content>
        <div class="list card animate-fade-slide-in-right">

            <div class="item ink">
                <img class="about-picture" src="img/original.png"><br/>
                <center><h2>Easy Period</h2>
                    <p>Version 1.2</p>
                </center>
            </div>

            <div class="item item-body animate-fade-slide-in-right">
                <p> Web application: <br/><b><a href="http://orbachinujbuk.com" target="_blank">www.easyperiodapp.com</a></b></p>
            </div>

            <div class="item item-body item-thumbnail-left animate-fade-slide-in-right">
                <img src="img/Rifat.jpg">
                <p>Developed with love by <br/><b><a href="http://orbachinujbuk.com" target="_blank">A. H. M. Azimul Haque</a></b> </p>
            </div>

        </div>
    </ion-content>
</ion-view>
      