<ion-view view-title="Browse">
  <ion-content>
  	
    <div class="list card">
      <ion-card>
      	<center><h2>Login</h2></center>
      </ion-card>	
	  <label class="item item-input">
	    <span class="input-label">Username</span>
	    <input type="text" placeholder="Username">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Password</span>
	    <input type="password" placeholder="Password">
	  </label>
	  <label class="item">
	  	<button class="button button-block button-positive">Submit</button>
	  </label>
	</div>

  </ion-content>
</ion-view>
