<ion-modal-view ng-controller="EditPeriodCtrl">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Edit Period</h1>
      <div class="buttons">
        <button class="button button-icon button-clear ion-android-close" ng-click="closeEditPeriod()"></button>
      </div>
    </ion-header-bar>
    <ion-content>
        <form name="editPeriodForm" method="POST">
            <div class="list animate-ripple">
                <input type="hidden" ng-model="formSubmissionForUpdate.uniquekey">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Starting Date</span>
                    <input type="text" placeholder="Starting Date" ng-focus="openDatePicker3()" ng-model="formSubmissionForUpdate.start" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">End Date</span>
                    <input type="text" placeholder="End Date" ng-focus="openDatePicker4()" ng-model="formSubmissionForUpdate.end">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Description (Optional)</span>
                    <input type="text" placeholder="Description (Optional)" ng-model="formSubmissionForUpdate.description">
                </label>
                <label class="item">
                    <button class="button button-block button-positive button-balanced ink" type="submit" ng-click="formsubmitUpdate(editPeriodForm.$valid)">Save</button>
                </label>    
            </div>
        </form>
    </ion-content>
  </ion-modal-view>
  