<ion-view view-title="Period List" cache-view="false">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div class="">
        <button class="button button-icon button-clear ion-gear-b" ng-click="showButtonF()"></button>
      </div>
    </ion-nav-buttons>
    
  </ion-nav-bar>
  <ion-content ng-class="{expanded:isExpanded}">
    <ion-list class="animate-fade-slide-in-right" show-delete="showButtons">
      <ion-item ng-repeat="period in periods"  class="item item-text-wrap  item-button-right">
        {{period.start}}
          <ion-delete-button class="icon ion-trash-a delete-button ink" ng-click="doTest1(period.start)"></ion-delete-button>
          <ion-delete-button class="icon ion-compose edit-button ink" ng-click="doTest2()"></ion-delete-button>
          <!-- <ion-option-button class="button-assertive"
                             ng-click="">
            <i class="icon ion-compose"></i>
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="">
                             <i class="icon ion-trash-a"></i>
          </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
