<ion-view view-title="Profile">
    <ion-content>
        <div class="list card">

        <div class="item ink">
            <img class="profile-picture" src="img/demo_user.jpg"><br/>
            <center><h2>Marty McFly</h2>
            <p>November 05, 1955</p></center>
        </div>

        <div class="item item-body">
            <p> <b>Joined:</b> November 05, 1955</p>
            <p> <b>LMP Date:</b> November 05, 1955</p>
            <p> <b>Last entry:</b> November 05, 1955</p>
            <p> <b>Total entry:</b> 21</p>
        </div>

        </div>
    </ion-content>
</ion-view>
      