<ion-view view-title="Easy Period">
  <ion-content class="">
    <div class="row">
        <a menu-close class="col col-50" ui-sref="app.entryperiod">
          <div class="card text-center periodEntryCard ink">
            <h1><i class="icon ion-waterdrop bloddColor"></i></h1> New Period
          </div>
        </a>
        <a menu-close class="col col-50" ui-sref="app.periodcalendar">
          <div class="card text-center periodCalendarCard ink">
            <h1><i class="icon ion-calendar calendarColor"></i></h1> Period Calender
          </div>
        </a>
    </div>
    <div class="row">
        <a menu-close class="col col-50" ui-sref="app.periodlist">
          <div class="card text-center periodListCard ink">
            <h1><i class="icon ion-clipboard"></i></h1> Period List
          </div>
        </a>
        <a menu-close class="col col-50" ui-sref="app.profile">
          <div class="card text-center profileCard ink">
            <h1><i class="icon ion-compose"></i></h1> Profile
          </div>
        </a>
    </div>
  </ion-content>
</ion-view>
