<ion-view view-title="Easy Period" cache-view="false">
  <ion-content class="">
    <div class="list" ng-show="showHomePageItems">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-waterdrop assertive"></i>
          Probable next period: <b>{{ nmpDate | date: "MMMM dd" }}</b>
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-heart calm"></i>
          Fertility: <b>{{ nfsdate | date: "MMM dd" }}-{{ nfedate | date: "MMM dd" }}</b>
        </a>
    </div>
    <div class="row" ng-show="showHomePageItems">
        <a menu-close class="col col-50" ui-sref="app.entryperiod">
          <div class="card text-center periodEntryCard ink">
            <h1><i class="icon ion-waterdrop bloddColor"></i></h1> New Period
          </div>
        </a>
        <a menu-close class="col col-50" ui-sref="app.periodcalendar">
          <div class="card text-center periodCalendarCard ink">
            <h1><i class="icon ion-calendar calendarColor"></i></h1> Period Calender
          </div>
        </a>
    </div>
    <div class="row" ng-show="showHomePageItems">
        <a menu-close class="col col-50" ui-sref="app.periodlist">
          <div class="card text-center periodListCard ink">
            <h1><i class="icon ion-clipboard"></i></h1> Period List
          </div>
        </a>
        <a menu-close class="col col-50" ui-sref="app.profile">
          <div class="card text-center profileCard ink">
            <h1><i class="icon ion-compose"></i></h1> Profile
          </div>
        </a>
    </div>
    <div class="card" ng-show="!showHomePageItems">
      <center style="padding: 20px;">
        <h4>You need to login first</h4>
        <button class="button button-positive button-block ink" ng-click="login()"><i class="icon ion-log-in"></i> Login</button>
        <button class="button button-balanced button-block ink" ng-click="register()"><i class="icon ion-android-person-add"></i> Register</button>
      </center>
    </div>
  </ion-content>
</ion-view>
