/* Empty. Add your own CSS if you like */

.loading{
    background-color: inherit;
    width: 75% !important;
    border-width: 0px !important;
    border-color: black !important;
    border-style: solid !important;
}

.periodEntryCard{
    background-color: #EF473A;
    color: #ffffff;
    font-weight: bold !important;
}
.bloddColor{
    color: #ffffff;
}
.periodCalendarCard{
    background-color: #387EF5;
    color: #ffffff;
    font-weight: bold !important;
}
.calendarColor{
    color: #ffffff;
}
.periodListCard{
    background-color: #33CD5F;
    color: #000000;
    font-weight: bold;
}
.profileCard{
    background-color: #FFC900;
    color: #000000;
    font-weight: bold;
}
a{
    text-decoration: none !important;
}
.home{
    color: #006064;
}
.waterdrop{
    color: #EF473A;
}
.calendar{
    color: #387EF5;
}
.clipboard{
    color: #33CD5F;
}
.compose{
    color: #FFC900;
}
.fc-scroller {
    overflow-y: hidden !important;
 }
 .ui-calendar{
     padding: 10px;
 }
 .fc-center h2{
    font-size: 24px;
 }
 .fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 0px;
    border: 1px solid #ef473a;
    background-color: #ef473a;
    font-weight: 400;
}
.fc-time{
    display : none; /* allDay false retrured a 12a type label, to not to display use this css */
 }
 .delete-button, .edit-button{
    background: none !important;
    color: inherit;
    border: none;
    padding: 10px !important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    box-shadow: none !important;
 }
 .edit-button {
     color: #387EF5 !important;
 }
 .list-left-editing .item-left-editable .item-content, .item-left-editing.item-left-editable .item-content {
   -webkit-transform: translate3d(80px, 0, 0) !important;
   -moz-transform: translate3d(80px, 0, 0)  !important;
   transform: translate3d(80px, 0, 0)!important;
 }
 .item-left-edit:nth-child(2){
    left:40px !important;
}
 .item {
     border-bottom: 1px solid lightgray !important;
 }
 .profile-picture{
    border-radius: 50%;
    margin: auto;
    height: 80px;
    width: 80px;
 }

  .bar-header{
    padding-top:3px ;
    height: 50px;
  }
  
  .bar-header h1.title{
    top:3px;
  }
  
  .has-header{
    top:50px;
  }
 




/* 
    loader css
*/
.loader {
  border: 4px solid #f3f3f3 !important;
  border-radius: 50%;
  border-top: 4px solid #808080 !important;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}