/* Empty. Add your own CSS if you like */

.loading{
    background-color: inherit;
    width: 75% !important;
    border-width: 0px !important;
    border-color: black !important;
    border-style: solid !important;
}

.periodEntryCard{
    background-color: #EF473A;
    color: #ffffff;
    font-weight: bold !important;
}
.bloddColor{
    color: #ffffff;
}
.periodCalendarCard{
    background-color: #387EF5;
    color: #ffffff;
    font-weight: bold !important;
}
.calendarColor{
    color: #ffffff;
}
.periodListCard{
    background-color: #33CD5F;
    color: #000000;
    font-weight: bold;
}
.profileCard{
    background-color: #FFC900;
    color: #000000;
    font-weight: bold;
}
a{
    text-decoration: none !important;
}
.home{
    color: #006064;
}
.waterdrop{
    color: #EF473A;
}
.calendar{
    color: #387EF5;
}
.clipboard{
    color: #33CD5F;
}
.compose{
    color: #FFC900;
}





/* 
    loader css
*/
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #808080;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}